<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">

        {# Brand #}
        <a href="/public" class="navbar-brand order-0">
            <img 
                src="{{url_for('dist', path='/img/AdminLTELogo.png')}}" 
                alt="HoMIES" 
                class="brand-image img-circle" 
                style="opacity: .8"
            >
            <span class="brand-text font-weight-light">HoMIES</span>
        </a>

        {# Navbar Toggler #}
        <button 
            class="navbar-toggler order-1 border-0" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarCollapse"
        >
            <i class="fas fa-bars"></i>
        </button>

        {# Left Navbar Links #}
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">

                {# Medical Services #}
                <li class="nav-item dropdown">
                    <a 
                        id="dropdownSubMenu1" 
                        href="#" 
                        data-toggle="dropdown"
                        class="nav-link dropdown-toggle"
                    >Medical Services</a>

                    <ul class="dropdown-menu border-0 shadow">
                        <li><a href="#" class="dropdown-item">Find a Doctor</a></li>
                    </ul>
                </li>

                {# Patient & Visitor #}
                <li class="nav-item dropdown">
                    <a 
                        id="dropdownSubMenu1" 
                        href="#" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false" 
                        class="nav-link dropdown-toggle"
                    >Patients & Visitor</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                    <li><a href="#" class="dropdown-item">Some action </a></li>
                    <li><a href="#" class="dropdown-item">Some other action</a></li>

                    <li class="dropdown-divider"></li>

                    {# Level two dropdown#}
                    <li class="dropdown-submenu dropdown-hover">
                        <a id="dropdownSubMenu2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
                        <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                        <li>
                            <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
                        </li>

                        {# Level three dropdown#}
                        <li class="dropdown-submenu">
                            <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                            <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                            </ul>
                        </li>

                        <li><a href="#" class="dropdown-item">level 2</a></li>
                        <li><a href="#" class="dropdown-item">level 2</a></li>
                        </ul>
                    </li>
                </ul>
                </li>

                {# Careers #}
                <li class="nav-item">
                    <a href="./careers" class="nav-link">Careers</a>
                </li>
                
                {# About Us #}
                <li class="nav-item dropdown">
                    <a
                        role="button"
                        data-toggle="dropdown"
                        class="nav-link dropdown-toggle"
                    >About Us</a>

                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="#" class="dropdown-item">Vision & Mission</a></li>
                        <li><a href="#" class="dropdown-item">History</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a href="#" class="dropdown-item">Data Privacy</a></li>
                        <li><a href="#" class="dropdown-item">Terms and Conditions</a></li>
                        <li><a href="#" class="dropdown-item">FAQ</a></li>
                    </ul>
                </li>

            </ul>
        </div>

        {# Right Navbar Links #}
        <div class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <a href="./login" class="btn btn-outline-primary text-nowrap">
                <span>Log in</span>
                <i class="fas fa-sign-in-alt ml-1"></i>
            </a>
        </div>
    </div>
</nav>