{# Brand Name #}
{% set BRAND_NAME = 'HoMIES' %}


{# Base URL Routes #}
{% set BASE_URL_WEB = '/' %}
{% set BASE_URL_EXT = 'rms/' %}
{% set DH_WEB_ROUTE = BASE_URL_WEB + BASE_URL_EXT + 'dh/' %}
{% set DM_WEB_ROUTE = BASE_URL_WEB + BASE_URL_EXT + 'dm/' %}
{% set H_WEB_ROUTE  = BASE_URL_WEB + BASE_URL_EXT + 'h/'  %}
{% set R_WEB_ROUTE  = BASE_URL_WEB + BASE_URL_EXT + 'r/'  %}


{# Base Layout #}
{% include "layouts/header.html" %}
{% block body %}{% endblock %}
{% include "layouts/footer.html" %}