{#
| ===========================================================================
| PLUGINS SCRIPTS
| ===========================================================================
#}

{# jQuery #}
<script src="{{url_for('plugins', path='/jquery/jquery.min.js')}}"></script>

{# jQuery Validation #}
<script src="{{url_for('plugins', path='/jquery-validation/jquery.validate.min.js')}}"></script>

{# jQuery Validation Additional Methods #}
<script src="{{url_for('plugins', path='/jquery-validation/additional-methods.min.js')}}"></script>

{# Bootstrap Bundle #}
<script src="{{url_for('plugins', path='/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

{# bs-custom-file-input #}
<script src="{{url_for('plugins', path='/bs-custom-file-input/bs-custom-file-input.min.js')}}"></script>

{# Overlay Scrollbars #}
<script src="{{url_for('plugins', path='/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>

{# DataTables #}
<script src="{{url_for('plugins', path='/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('plugins', path='/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('plugins', path='/datatables-scroller/js/datatables.scroller.min.js')}}"></script>
<script src="{{url_for('plugins', path='/datatables-scroller/js/scroller.bootstrap4.min.js')}}"></script>
<script src="{{url_for('plugins', path='/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('plugins', path='/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{url_for('plugins', path='/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('plugins', path='/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>

{# jszip #}
<script src="{{url_for('plugins', path='/jszip/jszip.min.js')}}"></script>

{# Datatable Buttons #}
<script src="{{url_for('plugins', path='/pdfmake/pdfmake.min.js')}}"></script>
<script src="{{url_for('plugins', path='/pdfmake/vfs_fonts.js')}}"></script>
<script src="{{url_for('plugins', path='/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{url_for('plugins', path='/datatables-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{url_for('plugins', path='/datatables-buttons/js/buttons.colVis.min.js')}}"></script>

{# Moment JS #}
<script src="{{url_for('plugins', path='/moment/moment.min.js')}}"></script>

{# Input Mask #}
<script src="{{url_for('plugins', path='/inputmask/jquery.inputmask.min.js')}}"></script>

{# Toastr #}
<script src="{{url_for('plugins', path='/toastr/toastr.min.js')}}"></script>

{# Select2 #}
<script src="{{url_for('plugins', path='/select2/js/select2.full.min.js')}}"></script>

{# Date Picker #}
<script src="{{url_for('plugins', path='/daterangepicker/daterangepicker.js')}}"></script>
<script src="{{url_for('plugins', path='/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')}}"></script>

{# Tempusdominus Bootstrap 4 #}
<script src="{{url_for('plugins', path='/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')}}"></script>

{# Summernote #}
<script src="{{url_for('plugins', path='/summernote/summernote-bs4.min.js')}}"></script>

{# BS-Stepper #}
<script src="{{url_for('plugins', path='/bs-stepper/js/bs-stepper.min.js')}}"></script>

{# Chart JS #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

{# Chart JS Datalabel Plugin #}
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

{# AdminLTE JS #}
<script src="{{url_for('dist', path='js/adminlte.min.js')}}"></script>