
{# Loader #}
<div class="card card-primary card-outline" id="manpowerRequestDocumentLoader">
    <div class="card-header">
        <div class="skeleton-loader mb-0" style="width: 15rem"></div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered w-100" width="100%">
                <tr class="bg-light">
                    <th colspan="3">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="skeleton-loader" style="height: 25px; width: 25rem;"></div>
                            <div class="skeleton-loader sm mb-0" style="width: 15rem;"></div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="d-flex align-items-center">
                            <div class="skeleton-loader mb-0" style="height: 20px; width: 10rem;"></div>
                            <div class="skeleton-loader mb-0 ml-1" style="height: 20px; width: 15rem;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="skeleton-loader" style="width: 8rem"></div>
                        <div class="mx-3 small text-secondary">
                            <div class="skeleton-loader"></div>
                            <div class="skeleton-loader sm w-75"></div>
                        </div>
                    </td>
                    <td>
                        <div class="skeleton-loader" style="width: 8rem"></div>
                        <div class="mx-3 small text-secondary">
                            <div class="skeleton-loader"></div>
                        </div>
                    </td>
                    <td>
                        <div class="skeleton-loader" style="width: 8rem"></div>
                        <div class="mx-3 small text-secondary">
                            <div class="skeleton-loader"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="skeleton-loader" style="width: 8rem"></div>
                        <div class="mx-3 small text-secondary">
                            <div class="skeleton-loader"></div>
                        </div>
                    </td>
                    <td>
                        <div class="skeleton-loader" style="width: 8rem"></div>
                        <div class="mx-3 small text-secondary">
                            <div class="skeleton-loader"></div>
                        </div>
                    </td>
                    <td>
                        <div class="skeleton-loader" style="width: 8rem"></div>
                        <div class="mx-3 small text-secondary">
                            <div class="skeleton-loader"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="skeleton-loader" style="width: 8rem"></div>
                        <div class="mx-3 small text-secondary">
                            <div class="skeleton-loader"></div>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="skeleton-loader" style="width: 8rem"></div>
                        <div class="mx-3 small text-secondary">
                            <div class="skeleton-loader"></div>
                        </div>
                    </td>
                </tr>
                <tr>

                    {# Request Description #}
                    <td colspan="4">
                        <div class="skeleton-loader" style="width: 8rem"></div>
                        <div class="mx-3">
                            <div class="my-3 text-justify">
                                <div class="skeleton-loader"></div>
                                <div class="skeleton-loader w-75"></div>
                                <div class="skeleton-loader w-75"></div>
                                <div class="skeleton-loader sm w-50"></div>
                                <div class="p-3"></div>
                                <div class="skeleton-loader"></div>
                                <div class="skeleton-loader w-75"></div>
                                <div class="skeleton-loader w-75"></div>
                                <div class="skeleton-loader sm w-50"></div>
                                <div class="p-3"></div>
                                <div class="skeleton-loader"></div>
                                <div class="skeleton-loader w-75"></div>
                                <div class="skeleton-loader w-75"></div>
                                <div class="skeleton-loader sm w-50"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="bg-light">
                    <th colspan="3">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="skeleton-loader mb-0" style="height: 20px; width: 8rem;"></div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div class="skeleton-loader" style="width: 8rem"></div>
                        <div class="mx-3 small text-secondary">
                            <div class="skeleton-loader"></div>
                            <div class="skeleton-loader sm w-75"></div>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="skeleton-loader" style="width: 8rem"></div>
                        <div class="mx-3 small text-secondary">
                            <div class="skeleton-loader"></div>
                            <div class="skeleton-loader sm w-75"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="skeleton-loader" style="width: 8rem"></div>
                        <div class="mx-3 small text-secondary">
                            <div class="skeleton-loader"></div>
                            <div class="skeleton-loader sm w-75"></div>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="skeleton-loader" style="width: 8rem"></div>
                        <div class="mx-3 small text-secondary">
                            <div class="skeleton-loader"></div>
                            <div class="skeleton-loader sm w-75"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="skeleton-loader" style="width: 8rem"></div>
                        <div class="mx-3 small text-secondary">
                            <div class="skeleton-loader"></div>
                            <div class="skeleton-loader sm w-75"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{# Document #}
<div class="card card-primary card-outline" id="manpowerRequestDocumentContainer" style="display: none">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="card-title">Manpower Request Document</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-sm btn-default" onclick="history.back()">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <button type="button" class="btn btn-sm btn-default" data-card-widget="maximize">
                    <i class="fas fa-expand"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">

        {# Manpower Request Status #}
        <div id="manpowerRequestStatus"></div>

        {# Manpower Request Document #}
        <div class="table-responsive" id="manpowerRequestDocument">
            <table class="table table-bordered">
                <tr class="bg-light">
                    <td colspan="3" class="text-center">
                        <h5 class="mb-0">MANPOWER REQUEST DOCUMENT</h5>
                        <div class="small">HoMIES Company</div>
                    </td>
                </tr>
                <tr>

                    {# Requisition Number #}
                    <td colspan="3">
                        <span class="font-weight-bold">Requisition No.:</span>
                        <span id="requisitionNo"></span>
                    </td>
                </tr>
                <tr>

                    {# Requesting Department #}
                    <td>
                        <div class="font-weight-bold">Requesting Department</div>
                        <div class="mx-3" id="requestorName"></div>
                        <div class="mx-3 small text-secondary" id="requestorDepartment"></div>
                    </td>

                    {# Date Requested #}
                    <td>
                        <div class="font-weight-bold">Date Requested</div>
                        <div class="mx-3">
                            <div id="dateRequested"></div>
                        </div>
                    </td>

                    {# Deadline #}
                    <td>
                        <div class="font-weight-bold">Deadline</div>
                        <div class="mx-3">
                            <div id="deadline"></div>
                        </div>
                    </td>
                </tr>
                <tr>

                    {# Vacant Position #}
                    <td>
                        <div class="font-weight-bold">Vacant Position</div>
                        <div class="mx-3" id="requestedPosition"></div>
                    </td>

                    {# Staffs Needed #}
                    <td>
                        <div class="font-weight-bold">Staffs Needed</div>
                        <div class="mx-3" id="noOfStaffsNeeded"></div>
                    </td>

                    {# Employment Type #}
                    <td>
                        <div class="font-weight-bold">Employment Type</div>
                        <div class="mx-3" id="employmentType"></div>
                    </td>
                </tr>
                <tr>

                    {# Nature of Request #}
                    <td>
                        <div class="font-weight-bold">Nature of Request</div>
                        <div class="mx-3" id="requestNature"></div>
                    </td>

                    {# Suggested Salary #}
                    <td colspan="2">
                        <div class="font-weight-bold">Suggested Salary</div>
                        <div class="mx-3" id="suggestedSalary"></div>
                    </td>
                </tr>
                <tr>

                    {# Request Description #}
                    <td colspan="4">
                        <div class="font-weight-bold">Request Description</div>
                        <div class="mx-3">
                            <div class="my-3 text-justify" id="requestDescription"></div>
                        </div>
                    </td>
                </tr>
                <tr class="bg-light">
                    <th class="text-center" colspan="3">Approval</th>
                </tr>
                <tr>

                    {# Signed By #}
                    <td colspan="2">
                        <div class="font-weight-bold">Signed By</div>
                        <div class="mx-3" id="signedBy"></div>
                    </td>

                    {# Signed At #}
                    <td>
                        <div class="font-weight-bold">Signed At</div>
                        <div class="mx-3" id="signedAt"></div>
                    </td>
                </tr>
                <tr>

                    {# Approved By #}
                    <td colspan="2">
                        <div class="font-weight-bold">Approved By</div>
                        <div class="mx-3" id="approvedBy"></div>
                    </td>

                    {# Approved At #}
                    <td>
                        <div class="font-weight-bold">Approved At</div>
                        <div class="mx-3" id="approvedAt"></div>
                    </td>
                </tr>
                <tr>
                    
                    {# Completed At #}
                    <td colspan="3">
                        <div class="font-weight-bold">Completed At</div>
                        <div class="mx-3" id="completedAt"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>