<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">

        {# Brand #}
        <a href="/" class="navbar-brand order-0">
            <img 
                src="{{url_for('dist', path='img/AdminLTELogo.png')}}" 
                alt="HoMIES" 
                class="brand-image img-circle" 
                style="opacity: .8"
            >
            <span class="brand-text font-weight-light">HoMIES</span>
        </a>

        {# Navbar Toggler #}
        <button 
            class="navbar-toggler order-1 border-0" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarCollapse"
        >
            <i class="fas fa-bars"></i>
        </button>

        {# Left Navbar Links #}
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">

                {# Medical Services #}
                <li class="nav-item dropdown">
                    <a 
                        id="dropdownSubMenu1" 
                        href="#" 
                        data-toggle="dropdown"
                        class="nav-link dropdown-toggle"
                    >Medical Services</a>

                    <ul class="dropdown-menu border-0 shadow">
                        <li><a href="#" class="dropdown-item">Find a Doctor</a></li>
                    </ul>
                </li>

                {# Patient & Visitor #}
                <li class="nav-item dropdown">
                    <a
                        id="dropdownSubMenu1"
                        href="#"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        class="nav-link dropdown-toggle"
                        >Patients & Visitors</a
                    >
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <h5 class="dropdown-header">Patients</h5>
                        <li><a href="#" class="dropdown-item">Teleconsult</a></li>
                        <div class="dropdown-divider"></div>
                        <h5 class="dropdown-header">Visitors</h5>
                        <li>
                            <a href="/vms/visitor" class="dropdown-item">
                            Visitor Portal
                            </a>
                        </li>
                        <li>
                            <a href="/vms/visiting_schedule" class="dropdown-item {{ 'active' if page == 'visiting_schedule' }}">Visiting Schedules</a>
                        </li>
                        <li>
                            <a href="/vms/visiting_procedures" class="dropdown-item {{ 'active' if page == 'visiting_procedures' }}">
                                Visiting Procedures
                            </a>
                        </li>
                        <li>
                            <a href="/vms/visiting_policies_requirements"
                                class="dropdown-item {{ 'active' if page == 'visiting_policies_requirements' }}">
                                Visiting Policies and Requirements
                            </a>
                        </li>
                        
                        <!-- End Level two -->
                    </ul>
                </li>

                {# Careers #}
                <li class="nav-item">
                    <a href="/careers" class="nav-link">Careers</a>
                </li>
                
                {# About Us #}
                <li class="nav-item dropdown">
                    <a
                        role="button"
                        data-toggle="dropdown"
                        class="nav-link dropdown-toggle"
                    >About Us</a>

                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="/vision-and-mission" class="dropdown-item">Vision & Mission</a></li>
                        <li><a href="/history" class="dropdown-item">History</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a href="/data-privacy" class="dropdown-item">Data Privacy</a></li>
                        <li><a href="/terms-and-conditions" class="dropdown-item">Terms and Conditions</a></li>
                        <li><a href="/faq" class="dropdown-item">FAQ</a></li>
                    </ul>
                </li>

            </ul>
        </div>

        {# Right Navbar Links #}
        <div class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <a href="/login" class="btn btn-outline-primary text-nowrap">
                <span>Log in</span>
                <i class="fas fa-sign-in-alt ml-1"></i>
            </a>
        </div>
    </div>
</nav>