{% extends "templates/admin.html" %}


{% block topbar %}
    {% include "content/components/topbar.html" %}
{% endblock %}


{% block sidebar %}
    {% include "content/components/sidebar.html" %}
{% endblock %}


{% block modals %}
    {% block page_modals %}{% endblock %}
{% endblock %}


{% block scripts %}
    {# <script src="{{url_for('static', path='/dist/js/modules/human_resource/recruitment/department_head/info.js')}}"></script> #}

    {% block page_scripts %}{% endblock %}
{% endblock %}