{% extends "templates/layout.html" %} 


{% block sidebar %}
    {% include "content/components/sidebar.html" %}
{% endblock %}


{% block content %}

    {# Content Header #}
    <section class="content-header">
        <div class="container-fluid">
            <h1>{{ page_title }}</h1>
            <p class="text-muted">{{ sub_title }}</p>
        </div>
    </section>

    {# Main content #}
    <section class="content">
        <div class="container-fluid">
            {% include "templates/components/under_maintenance.html"  %}
        </div>
    </section>

{% endblock %}


{% block page_scripts %}
<script src="{{url_for('src', path='/js/internal/human_resource/rms/constants.min.js')}}"></script>
<script src="{{url_for('src', path='/js/internal/human_resource/rms/template_literals.min.js')}}"></script>
<script src="{{url_for('src', path='/js/internal/human_resource/rms/functions.min.js')}}"></script>
<script src="{{url_for('src', path='/js/internal/human_resource/rms/main.min.js')}}"></script>
{% endblock %}