{% extends "pages/hiring_manager/pages/applicants_per_job/_layout.html" %} 


{% block dataTable %}
    <div class="card card-primary card-outline">
        <div class="card-header align-items-center">
            <div class="d-flex justify-content-between">
                <div class="card-title">For Screening</div>

                <div class="card-tools">
                    <button type="button" class="btn btn-sm btn-default" data-card-widget="maximize">
                        <i class="fas fa-expand"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table 
                    id="applicantsForScreeningDT" 
                    class="table table-bordered table-hover w-100" 
                    width="100" 
                    cellspacing="0"
                >
                    <thead>
                        <tr>
                            <th>
                                <div class="sr-only">Date Added</div>
                            </th>
                            <th>Applicant Name</th>
                            <th>Date Applied</th>
                            <th class="text-center">
                                <div class="sr-only">Actions</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4">
                                {%  include "components/loading_spinner.html" %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_modals %}
    {% include 'pages/hiring_manager/modals/applicants_per_job/for_screening_modal.html' %}
{% endblock %}