{% extends 'templates/public/login_layout.html' %}


{% block content %}
<div class="login-box">
    <div class="login-logo">
        <img 
            src="{{url_for('dist', path='/img/AdminLTELogo.png')}}" 
            alt="AdminLTE Logo" 
            class="brand-image img-circle"
            style="opacity:.8"
            height="75px"
        >
        <div>HoMIES</div>
    </div>

    <div class="card shadow-none">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Log in to start your session</p>

            {# Login Form #}
            <form id="loginForm">

                {# Email #}
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <input 
                            type="email" 
                            id="email" 
                            class="form-control" 
                            name="email" 
                            placeholder="Type your email here"
                        >
                        <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                        </div>
                    </div>
                </div>

                {# Password #}
                <div class="form-group">
                    <div class="d-flex align-items-start justify-content-between">
                        <label for="password">Password</label>
                        <a class="mb-3 small" href="/login/forgot-password">I forgot my password</a>
                    </div>
                    <div class="input-group">
                        <input 
                            type="password" 
                            class="form-control" 
                            id="password" 
                            name="password" 
                            placeholder="Type your password here"
                        >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                </div>

                {# User Actions #}
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">Remember Me</label>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-block" id="loginBtn">
                            <span>Log in</span>
                            <i class="fas fa-sign-in-alt ml-1"></i>
                        </button>
                    </div>
                </div>
            </form>

            <div class="dropdown-divider mt-5 mb-1"></div>

            <div class="d-flex justify-content-between text-sm">
                <div>
                    <a href="/">Home</a>
                </div>
                <div>
                    <a href="/about-us">About Us</a>
                    <span class="text-secondary">&middot;</span>
                    <a href="/terms-and-policies">Terms and Policies</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{{url_for('src', path='/js/internal/human_resource/recruitment/constants.min.js')}}"></script>
<script src="{{url_for('src', path='/js/internal/human_resource/recruitment/template_literals.min.js')}}"></script>
<script src="{{url_for('src', path='/js/internal/human_resource/recruitment/functions.min.js')}}"></script>
<script src="{{url_for('src', path='/js/internal/human_resource/recruitment/main.min.js')}}"></script>

<script src="{{url_for('src', path='/js/public/home/login.js')}}"></script>
{% endblock %}

