{% extends "pages/recruiter/_layout.html" %} 


{% block content %}

    {# Content Header (Page header) #}
    <section class="content-header">
        <div class="container-fluid">
            <h1>{{ page_title }}</h1>
            <p class="text-muted">{{ sub_title }}</p>
        </div>
    </section>

    {# Content #}
    <section class="content px-3">
        <div class="form-row">

            {# Create Job Post Form #}
            <div class="col-md-8">
                <form class="card card-primary card-outline" id="createJobPostForm">

                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="card-title">Create Job Post</div>
                            
                            <div class="card-tools">
                                <button type="button" class="btn btn-sm btn-default" data-card-widget="maximize">
                                    <i class="fas fa-expand"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body">

                        {# Manpower Request ID #}
                        <input type="hidden" id="manpowerRequestID" name="manpowerRequestID">

                        {# Job Category #}
                        <div class="form-group">
                            <label for="jobCategory">Job Category</label>
                            <select
                                name="jobCategory" 
                                id="jobCategory"
                                class="form-control select2"
                                style="width: 100%"
                            ></select>
                        </div>

                        {# Job Description #}
                        <div class="form-group">
                            <label for="jobDescription">Job Description<span class="text-danger"> *</span></label>
                            <div>
                                <textarea
                                    name="jobDescription" 
                                    id="jobDescription" 
                                    class="form-control"
                                    placeholder="Enter job description here..."
                                ></textarea>
                            </div>
                            <div class="small text-danger" id="jobDescriptionInvalidFeedback" style="display: none">Job description is required</div>
                        </div>

                        {# Options #}
                        <div class="form-row">

                            {# Check boxes #}
                            <div class="col">
                                <label>Options</label>
                                <div class="form-group">
                                    <div class="mb-2" id="salaryRangeField">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="salaryRangeIsVisible" name="salaryRangeIsVisible">
                                            <label for="salaryRangeIsVisible">Make Salary Range Visible</label>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="expirationDate">
                                            <label for="expirationDate">Set Expiration Date</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {# Open until #}
                            <div class="col" id="openUntilField" style="display: none">
                                <div class="form-group">
                                    <label for="openUntil">Open until</label>
                                    <input 
                                        type="datetime-local" 
                                        class="form-control"
                                        id="openUntil"
                                        name="openUntil"
                                        placeholder="Select date and time"
                                    >
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-default" onclick="history.back()">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="postBtn" disabled>
                                <span>Post</span>
                                <i class="fas fa-pen ml-1"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            
            {# Manpower Request Summary #}
            <div class="col-md-4">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="card-title">Manpower Request</div>
    
                            <div class="card-tools">
                                <button type="button" class="btn btn-sm btn-default" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table w-100">
                            <tr>
                                <td>
                                    <h6 class="mb-1">Vacant Position</h6>
                                    <div id="vacantPositionForSummary"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="mb-1">Staffs Needed</h6>
                                    <div id="staffsNeededForSummary"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="mb-1">Employment Type</h6>
                                    <div id="employmentTypeForSummary"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="mb-1">Salary Range</h6>
                                    <div id="salaryRangeForSummary"></div>
                                    <div id="salaryRangeStatusForSummary"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="mb-1">Deadline</h6>
                                    <div id="deadlineForSummary"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button 
                                        class="btn btn-sm btn-secondary btn-block"
                                        data-toggle="modal"
                                        data-target="#viewManpowerRequestModal"
                                    >View Full Details</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block page_modals %}
    {% include "pages/recruiter/modals/add_job_post_modal.html" %}
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('src', path='/js/internal/human_resource/rms/recruiter/job_posts.js')}}"></script>
{% endblock %}