{% extends "pages/department_head/_layout.html" %} 


{% block content %}

    {# Content Header #}
    <section class="content-header">
        <div class="container-fluid">
            <h1>{{ page_title }}</h1>
            <p class="text-muted">{{ sub_title }}</p>
        </div>
    </section>

    {# Main content #}
    <section class="content">
        <div class="container-fluid">
            
            {# Filter #}
            <div class="d-flex justify-content-between align-items-start mb-3">
                
                {# Date Range Filter #}
                <div class="d-flex">
                    <div class="form-group mb-0 mr-1">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </div>
                            <button type="button" class="btn btn-sm btn-default float-right" id="filterDate">
                                <span class="mr-1" id="selectedFilter">Select date</span>
                                <i class="fas fa-caret-down"></i>
                            </button>
                            <div class="input-group-append">
                                <span class="input-group-text bg-white">
                                    <span id="selectedDate">
                                        <div class="spinner-border spinner-border-sm"></div>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Refresh Button #}
                <div>
                    <button class="btn btn-sm btn-default" onclick="location.reload()">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                </div>
            </div>

            {# Info Cards #}
            <div class="row">

                {# Manpower Requests #}
                <div class="col-md-4">
                    <div class="small-box" style="background: white;">
                        <div class="inner">
                            <h3 class="text-info mb-1" id="manpowerRequestsCountForInfoCard">
                                <span class="spinner-border"></span>
                            </h3>
                            <p class="font-weight-bold">Manpower Requests</p>
                        </div>
                        <div class="icon text-info" style="opacity: 50%;">
                        <i class="fas fa-copy"></i>
                        </div>
                        <a href="manpower-requests" class="small-box-footer bg-info">
                            <span>More info</span>
                            <i class="fas fa-long-arrow-alt-right ml-1"></i>
                        </a>
                    </div>
                </div>

                {# Hired Applicants #}
                <div class="col-md-4">
                    <div class="small-box" style="background: white;">
                        <div class="inner">
                            <h3 class="text-success mb-1" id="hiredApplicantsCountForInfoCard">
                                <span class="spinner-border"></span>
                            </sup></h3>
                            <p class="font-weight-bold">Hired Applicants</p>
                        </div>
                        <div class="icon text-success" style="opacity: 50%;">
                            <i class="fas fa-handshake"></i>
                        </div>
                        <a href="hired-applicants" class="small-box-footer bg-success">
                            <span>More info</span>
                            <i class="fas fa-long-arrow-alt-right ml-1"></i>
                        </a>
                    </div>
                </div>

                {# Onboarding Employees #}
                <div class="col-md-4">
                    <div class="small-box" style="background: white;">
                        <div class="inner">
                            <h3 class="text-warning mb-1" id="onboardingEmployeesCountForInfoCard">
                                <span class="spinner-border"></span>
                            </h3>
                            <p class="font-weight-bold">Onboarding Employees</p>
                        </div>
                        <div class="icon text-warning" style="opacity: 50%;">
                            <i class="fas fa-user-tie"></i>
                        </div>
                        <a href="onboarding-employees" class="small-box-footer bg-warning">
                            <span>More info</span>
                            <i class="fas fa-long-arrow-alt-right ml-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            {# Manpower Requests #}
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="card-title">Manpower Requests</h5>
                        
                        <div class="card-tools">
                            <button type="button" class="btn btn-default btn-sm" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                    <div class="col-md-8">
                        <p class="font-weight-bold">Total Manpower Request</p>
                        <div class="chart">
                            <canvas id="manpowerRequestsBarChart" style="
                                min-height: 250px; 
                                height: 250px; 
                                max-height: 250px; 
                            "></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="font-weight-bold">Manpower Requests Status Breakdown</p>
                        <div class="chart">
                            <canvas id="manpowerRequestsPieChart" style="
                                min-height: 250px; 
                                height: 250px; 
                                max-height: 250px; 
                            "></canvas>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                        <span class="description-percentage">
                            <i class="fas fa-copy"></i>
                        </span>
                        <h5 class="description-header" id="totalRequests">
                            <span class="spinner-border spinner-border-sm"></span>
                        </h5>
                        <span class="description-text">TOTAL REQUESTS</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                        <span class="description-percentage text-success">
                            <i class="fas fa-sync-alt"></i>
                        </span>
                        <h5 class="description-header text-success" id="totalOnGoingRequests">
                            <span class="spinner-border spinner-border-sm"></span>
                        </h5>
                        <span class="description-text">ON GOING</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                        <span class="description-percentage text-info">
                            <i class="fas fa-check"></i>
                        </span>
                        <h5 class="description-header text-info" id="totalCompletedRequests">
                            <span class="spinner-border spinner-border-sm"></span>
                        </h5>
                        <span class="description-text">COMPLETED</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="description-block">
                        <span class="description-percentage text-danger">
                            <i class="fas fa-times"></i>
                        </span>
                        <h5 class="description-header text-danger" id="totalRejectedRequests">
                            <span class="spinner-border spinner-border-sm"></span>
                        </h5>
                        <span class="description-text">REJECTED</span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('src', path='/js/internal/human_resource/recruitment/department_head/dashboard.js')}}"></script>
{% endblock %}