{# Sidebar #}
<div class="sidebar">
    
    {# Sidebar user (optional) #}
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        
        {# User Image #}
        <div class="image">
            <img src="{{BASE_URL_WEB}}static/dist/img/user2-160x160.jpg" class="img-circle border" alt="User Image">
        </div>

        {# User Full Name Loader #}
        <div class="info mr-1" style="width: 100%" id="userFullNameLoader">
            <div class="skeleton-loader w-75"></div>
            <div class="skeleton-loader sm w-50"></div>
            <div class="skeleton-loader sm mb-0 w-50"></div>
        </div>
        
        {# User Full Name #}
        <div class="info mr-1" id="userFullNameDisplay" style="display: none">
            <div class="nav-item">
                <span class="text-truncate" id="userFullName"></span>
            </div>
            <div class="text-truncate small text-secondary" id="userPosition"></div>
            <div class="text-truncate small text-secondary" id="userDepartment"></div>
        </div>
    </div>

    {# Sidebar Menu #}
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            
            <li class="nav-header font-weight-bold text-wrap">RECRUITMENT MANAGEMENT SYSTEM</li>

            <li class="nav-header">CORE</li>
            <li class="nav-item">
                <a href="{{H_WEB_ROUTE}}dashboard" class="nav-link{% if active_navlink == "Dashboard" %} active{% endif %}">
                    <i class="nav-icon fas fa-chart-pie"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="nav-header">REQUISITION</li>
            <li class="nav-item">
                <a href="{{H_WEB_ROUTE}}manpower-requests" class="nav-link{% if active_navlink == "Manpower Requests" %} active{% endif %}">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>Manpower Requests</p>
                </a>
            </li>

            <li class="nav-header">ACQUISITION</li>
            <li class="nav-item">
                <a href="{{H_WEB_ROUTE}}job-posts" class="nav-link{% if active_navlink == "Job Posts" %} active{% endif %}">
                    <i class="nav-icon fas fa-briefcase"></i>
                    <p>
                        <span>Job Posts</span>
                        {# <span class="float-right badge badge-primary">99+</span> #}
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{H_WEB_ROUTE}}applicants" class="nav-link{% if active_navlink == "Applicants" %} active{% endif %}">
                    <i class="nav-icon fas fa-user-tie"></i>
                    <p>
                        <span>Applicants</span>
                        {# <span class="float-right badge badge-primary">99+</span> #}
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{H_WEB_ROUTE}}interview-schedules" class="nav-link{% if active_navlink == "Interview Schedules" %} active{% endif %}">
                    <i class="nav-icon fas fa-calendar-alt"></i>
                    <p>
                        <span>Interview Schedules</span>
                        {# <span class="float-right badge badge-primary">99+</span> #}
                    </p>
                </a>
            </li>

            <li class="nav-header">CONFIGURATIONS</li>
            <li class="nav-item">
                <a href="{{H_WEB_ROUTE}}interview-questions" class="nav-link{% if active_navlink == "Interview Questions" %} active{% endif %}">
                    <i class="nav-icon fas fa-list"></i>
                    <p>
                        <span>Interview Questions</span>
                    </p>
                </a>
            </li>
        </ul>
    </nav>
</div>


{# Sidebar Custom #}
<div class="sidebar-custom">
    <a href="#" class="btn btn-sm btn-light"><i class="fas fa-cogs"></i></a>
    <button
        class="btn btn-sm btn-danger hide-on-collapse pos-right"
        data-toggle="modal"
        data-target="#logoutModal"
    >
        <span>Log out</span>
        <i class="fas fa-sign-out-alt ml-1"></i>
    </button>
</div>