{# Main Footer #}
<div class="main-footer bg-dark text-white pb-5">
    <div class="container py-3">
        <div class="row">

            <div class="col-md-4">
                <div class="container my-3">
                    <h5>About Us</h5>
                    <p>Holistic medical clinics and holistic medical practitioners offer a variety of holistic and naturopathic medical treatments and holistic and alternative medical treatments.</p>
                    
                    <ul class="nav flex-column">
                        <li class="nav-item nav-link">
                            <i class="fas fa-phone mr-1"></i>
                            <span>123-456-(7890)</span>
                        </li>
                        <li class="nav-item nav-link">
                            <i class="fas fa-building mr-1"></i>
                            <span>123 Somewhere St. Commonwealth, QC</span>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="container my-3">
                    <h5>Quick Links</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Patients & Visitors</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="container my-3">
                    <h5>Contact Us</h5>
                    <form class="form-group" id="emailForUpdates">
                        <p>Send us your email here and you will be updated on our news and services</p>
                        <div class="input-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Type your email here">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{# Small Footer#}
<footer class="main-footer navbar-dark">
    <div class="container">
        <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between align-items-center">
            <strong>Copyright &copy; 2014-2021 Homies.</strong> 
            <div>All rights reserved</div>
        </div>
    </div>
</footer>