{% extends "pages/department_manager/_layout.html" %} 


{% block content %}

    {# Content Header #}
    <section class="content-header">
        <div class="container-fluid">
            <h1>{{ page_title }}</h1>
            <p class="text-muted">{{ sub_title }}</p>
        </div>
    </section>

    {# Content #}
    <section class="content px-3">
        <div class="row">
            
            {# Manpower Request Document Container #}
            <div class="col-md-8">
                {% include 'components/manpower_request_document.html' %}
            </div>

            {# Options and Details #}
            <div class="col-md-4">

                {# Options Loader #}
                <div class="card card-primary card-outline wait" id="optionsLoader">
                    <div class="card-header">
                        <div class="skeleton-loader mb-0" style="width: 8rem"></div>
                    </div>
                    <div class="card-body">
                        <div class="skeleton-loader"></div>
                        <div class="skeleton-loader"></div>
                    </div>
                </div>

                {# Options Container #}
                <div class="card card-primary card-outline" id="optionsContainer" style="display: none">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="card-title">Options</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-sm btn-default" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="manpowerRequestOptions"></div>
                </div>

                {# Manpower Request Timeline #}
                {% include 'components/manpower_request_timeline.html'  %}
            </div>
        </div>
    </section>
{% endblock %}


{% block page_modals %}
    {% include "pages/department_manager/modals/view_manpower_request_modal.html" %}
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('src', path='/js/internal/human_resource/rms/department_manager/manpower_requests.js')}}"></script>
{% endblock %}