{% extends "pages/auth/_layout.html" %}


{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <div class="">HoMIES</div>
        </div>

        <div class="card shadow-none">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Log in to start your session</p>

                {# Login Form #}
                <form id="loginForm">

                    {# Email #}
                    <div class="form-group">
                        <label for="email">Email</label>
                        <div class="input-group">
                            <input type="email" id="email" class="form-control" name="email" placeholder="Email">
                            <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                            </div>
                        </div>
                    </div>

                    {# Password #}
                    <div class="form-group">
                        <div class="d-flex align-items-center justify-content-between">
                            <label for="password">Password</label>
                            <a class="mb-3" href="#">I forgot my password</a>
                        </div>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# User Actions #}
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">Remember Me</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" id="loginBtn">
                                <span>Log in</span>
                                <i class="fas fa-sign-in-alt ml-1"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="dropdown-divider mt-5 mb-1"></div>

                <div class="d-flex justify-content-between text-sm">
                    <div>
                        <a href="{{BASE_URL_WEB}}">Home</a>
                    </div>
                    <div>
                        <a href="#">About Us</a>
                        <span class="text-secondary">&middot;</span>
                        <a href="#">Terms and Policies</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('static', path='/dist/js/modules/human_resource/recruitment/home/login.js')}}"></script>
{% endblock %}