{% extends "pages/hiring_manager/_layout.html" %} 


{% block content %}
    
    {# Content Header (Page header) #}
    <section class="content-header">
        <div class="container-fluid">
            <h1>{{ page_title }}</h1>
            <p class="text-muted">{{ sub_title }}</p>
        </div>
    </section>

    <section class="content px-3">
        <div class="form-row">

            {# Create Job Post Form #}
            <div class="col-lg-8 order-1 order-lg-0">
                <form class="card card-primary card-outline" id="createInterviewScheduleForm">

                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="card-title">Create Interview Schedule</div>
                            
                            <div class="card-tools">
                                <button type="button" class="btn btn-sm btn-default" onclick="history.back()">
                                    <i class="fas fa-arrow-left"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-default" data-card-widget="maximize">
                                    <i class="fas fa-expand"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <input type="hidden" id="requisitionID" name="requisitionID">

                        {# Date of Schedule #}
                        <div class="form-group">
                            <label for="scheduledDate">On what date?</label>
                            <input 
                                type="date" 
                                class="form-control" 
                                id="scheduledDate" 
                                name="scheduledDate"
                            >
                        </div>

                        {# Session Range #}
                        <div class="form-row">

                            {# Start of Session #}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="startSession">Start of Session</label>
                                    <input 
                                        type="time" 
                                        class="form-control" 
                                        id="startSession"
                                        name="startSession"
                                    >
                                </div>
                            </div>

                            {# End of Session #}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="endSession">End of Session</label>
                                    <input 
                                        type="time" 
                                        class="form-control" 
                                        id="endSession"
                                        name="endSession"
                                    >
                                </div>
                            </div>
                        </div>
    
                        {# Add Applicant #}
                        <div class="form-group">
                            <label for="selectApplicant">Choose applicants to be interview for this schedule</label>
                            <div class="input-group" style="width: 100%">
                                <select 
                                    name="applicant" 
                                    id="selectApplicant"
                                    class="form-control"
                                >
                                    <option></option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" id="addApplicantBtn" disabled>
                                        <span>Add</span>
                                        <i class="fas fa-plus ml-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        {# Selected Applicants #}
                        <table class="table table-bordered table-hover" id="selectedApplicantsDT">
                            <thead>
                                <th class="w-100">Applicant</th>
                                <th class="text-center">Resume</th>
                                <th class="text-center"></th>
                            </thead>
                            <tbody id="selectedApplicantsDTBody">
                                <tr>
                                    <td colspan="3">
                                        <div class="py-5 text-center">
                                            <h3>No applicants has been added</h3>
                                            <div class="text-secondary">Applicants that you are going to add will display here</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-default" onclick="history.back()">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="saveBtn" disabled>
                                <span>Save</span>
                                <i class="fas fa-check ml-1"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            
            {# Job Post Summary #}
            <div class="col-lg-4 order-0 order-lg-1">

                <div class="card card-primary card-outline" id="jobPostSummaryLoader">
                    <div class="card-body py-5 text-center">
                        <div class="spinner-border text-primary my-3" role="status">
                            <span class="sr-only">Loading ...</span>
                        </div>
                    </div>
                </div>
                
                {# Job Post Summary #}
                <div class="card card-primary card-outline" id="jobPostSummary" style="display: none">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="mb-1" id="position"></h3>
                            </div>
                            <div id="jobPostStatus"></div>
                        </div>
    
                        <div class="dropdown-divider"></div>
    
                        <div class="mb-3">
                            <i class="fas fa-clock mr-1 text-secondary"></i>
                            <span id="jobPostedAt"></span>
                        </div>
                        
                        <div>
                            <div>
                                <b>Staffs Needed:</b>
                                <span id="staffsNeeded"></span>
                            </div>
                            <div>
                                <b>Employment Type:</b>
                                <span id="employmentType"></span>
                            </div>
                            <div>
                                <b>Deadline:</b>
                                <span id="deadline"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block page_modals %}
    {% include "pages/hiring_manager/modals/schedule_modal.html" %}
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('src', path='/js/internal/human_resource/rms/hiring_manager/applicants.js')}}"></script>
{% endblock %}
