{% extends "pages/hiring_manager/_layout.html" %} 


{% block content %}

    {# Content Header (Page header) #}
    <section class="content-header">
        <div class="container-fluid">
            <h1>{{ page_title }}</h1>
            <p class="text-muted">{{ sub_title }}</p>
        </div>
    </section>

    {# Main content #}
    <section class="content">
        <div class="container-fluid">

            {# Card #}
            <div class="card card-primary card-outline">

                {# Card Header #}
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="card-title">Lists of Interview Schedules</h3>
                        
                        <div class="card-tools">
                            <button type="button" class="btn btn-sm btn-default" data-card-widget="maximize">
                                <i class="fas fa-expand"></i>
                            </button>
                        </div>
                    </div>
                </div>

                {# Card Body #}
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="interviewSchedulesDT" class="table table-bordered table-hover w-100" width="100" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="sr-only">Date Added</div>
                                    </th>
                                    <th>Schedule</th>
                                    <th>For Job Post/Position</th>
                                    <th>No. of Interviewees</th>
                                    <th>Status</th>
                                    <th class="text-center">
                                        <div class="sr-only">Actions</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7">
                                        {%  include "components/loading_spinner.html" %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block page_modals %}
    {# include "pages/recruiter/modals/job_posts_modal.html" #}
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('src', path='/js/internal/human_resource/rms/hiring_manager/interview.js')}}"></script>
{% endblock %}