{% extends "pages/hiring_manager/_layout.html" %} 


{% block content %}

    {# Content Header (Page header) #}
    <section class="content-header">
        <div class="container-fluid">
            <h1>{{ page_title }}</h1>
            <p class="text-muted">{{ sub_title }}</p>
        </div>
    </section>


    {# Content #}
    <section class="content px-3">
        <div class="row">
            
            {# Manpower Request Document #}
            <div class="col-md-8">
                {% include 'components/manpower_request_document.html' %}
            </div>

            {# Options and Details #}
            <div class="col-md-4">

                {# Options #}
                <form class="card card-primary card-outline" id="approvalForm" style="display: none">
                    <div class="card-header">
                        <h3 class="card-title">Action</h3>
                    </div>
                    <div class="card-body">
                        <label>Select decision for this request</label>
                        <div class="form-group">
                            <div class="d-flex">
                                <div class="custom-control custom-radio">
                                    <div class="icheck-danger d-inline">
                                        <input 
                                            type="radio" 
                                            name="requestStatus" 
                                            id="rejectRequest"
                                            value="Rejected for approval"
                                        >
                                        <label for="rejectRequest">Reject</label>
                                    </div>
                                </div>
                                <div class="custom-control custom-radio">
                                    <div class="icheck-success d-inline">
                                        <input 
                                            type="radio" 
                                            name="requestStatus" 
                                            id="approveRequest"
                                            value="Approved"
                                        >
                                        <label for="approveRequest">Approve</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-sm btn-default" onclick="history.back()">Cancel</button>
                            <button type="submit" class="btn btn-sm btn-primary">
                                <span>Submit</span>
                                <i class="fas fa-check ml-1"></i>
                            </button>
                        </div>
                    </div>
                </form>

                {# Manpower Request Timeline #}
                {% include 'components/manpower_request_timeline.html' %}
            </div>
        </div>
    </section>
{% endblock %}


{% block page_modals %}
    {% include "pages/hiring_manager/modals/view_manpower_request_modal.html" %}
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('src', path='/js/internal/human_resource/rms/hiring_manager/manpower_requests.js')}}"></script>
{% endblock %}