{% extends "pages/home/_layout.html" %}


{% block content %}

    {# Content Header #}
    <div class="content-header">
        <div class="container">
            <h1 class="m-0">{{ page_title }}</h1>
            <div class="text-secondary">{{ page_subtitle }}</div>
        </div>
    </div>

    {# Main content #}
    <section class="content">

        {% include 'pages/home/components/search_form.html' %}

        {# Available Job List #}
        <div class="container">

            {# List Header #}
            <div class="mb-3">
                <h5 id="searchLabel"></h5>
                <div id="pageDisplay"></div>
                <div id="totalResultDisplay" class="small text-secondary"></div>
            </div>

            {# List #}
            <div class="row" id="availableJobList">
                <div class="col-12">
                    <div class="text-center my-5 py-5 wait">
                        <div class="spinner-border text-primary mb-2" style="width: 2.5rem; height: 2.5rem"></div>
                        <div>Please wait while loading the list ...</div>
                    </div>
                </div>
            </div>

            {# Pagination #}
            <div class="pagination justify-content-md-end justify-content-center mb-0" id="pagination" style="display: none"></div>
        </div>
    </div>
{% endblock %}


{% block page_scripts %}
    <script src="{{url_for('src', path='/js/internal/human_resource/rms/home/careers.js')}}"></script>
{% endblock %}